<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<ion-content>
  <div class="login-container">
    <ion-button class="circular-button" shape="round" size="small" href="/tabs">
      <span class="material-icons">arrow_back_ios</span>
    </ion-button>
    <div>
      <h1 class="center-text">(👉ﾟヮﾟ)👉BIENVENIDO👈(ﾟヮﾟ👈)</h1>
      <h2 class="center-text">Disfruta de nuestras Tiendas</h2>
    </div>
    <ion-item>
      <ion-label class="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-text>
      <a href="/registro">¿No tienes cuenta?: Registrate aquí</a>
    </ion-text>
    <ion-button id="login" class="rounded-button">Login</ion-button>
  </div>
</ion-content>