ion-toolbar {
    --background: #131313; 
    --color: #D9C8C8; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

ion-icon {
    font-size: 35px; 
    color: #D9C8C8; 
    font-weight: bold;
  }

.custom-popover {
  --min-width: 150px;
  --max-width: 200px;
  --offset-y: 10px; /* Ajusta la distancia vertical */
  --offset-x: 0px; /* Ajusta la distancia horizontal */
  right: 0; /* Alinea a la derecha */
}
img {
  width: 50px;
}

ion-menu.custom-menu {
  --background: #1e1f217e; // Fondo del menú completo

  ion-item {
    --background: transparent; // Fondo de los items
    --ion-item-background: transparent; // Asegúrate de incluir este también
    color: #D9C8C8; // Color del texto del item si es necesario

    // Puedes estilizar el wrapper del input si contiene un input dentro
    .input-wrapper {
      background: transparent;
    }
  }

  ion-content {
    --background: #1e1f217e; // Fondo del contenido del menú
  }

  // Opcionalmente, apunta a las clases internas si no está funcionando aún
  .list-md, .item-md {
    background: transparent !important;
  }
}

.end-label {
  margin-right: 32px; /* Ajusta este valor según sea necesario */
}