<app-shared-header></app-shared-header>


<ion-content [fullscreen]="true">
  <h1>Nuestra Historia</h1>

  <img src="/assets/xeo_logo.png" alt="Logo">
  <p>
    Fundada en 2010 por un grupo de entusiastas de la tecnología, XEO nació con el objetivo de ofrecer la mejor selección de consolas, tablets y videojuegos para todos. Desde sus inicios como una pequeña tienda local, hemos crecido para convertirnos en un referente en el sector, adaptándonos siempre a las necesidades y tendencias de nuestros clientes.
  </p>
  <p>
    Hoy en día, contamos con una amplia gama de productos que incluye consolas móviles, tablets y una extensa biblioteca de videojuegos. Estamos comprometidos con la innovación y la mejora continua, siempre buscando nuevas formas de ofrecer a nuestros clientes lo mejor del mundo del entretenimiento.
  </p>
  <p>
    Si deseas más información sobre nuestros productos o servicios, no dudes en ponerte en contacto con nosotros a través de nuestras redes sociales. ¡Estamos aquí para ayudarte!
  </p>
  </ion-content>
