h1 {
    color: #D9c8c8;
    text-align: center;
    margin-top: 3%;
    font-weight: bold;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

  p {
    color: #D9c8c8;
    text-align: justify;
    margin-top: 3%;
    margin: 20px;

  }