.recycler-view {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .item {
    flex: 0 0 auto;
    margin-right: 10px;
  }
  
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }