<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>    

  <div *ngIf="!selectedJuego">
    <div class="search-filter-container">
      <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterJuegos()" placeholder="Buscar juegos" class="custom-searchbar"></ion-searchbar>
      <ion-select [(ngModel)]="selectedGenero" (ionChange)="filterJuegos()" interface="popover" placeholder="Género">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor="let genero of generos" [value]="genero.nombre">{{ genero.nombre }}</ion-select-option>
      </ion-select>
    </div>

    <div *ngIf="isLoading" class="loading-container">
      <p>Cargando datos<span class="dots"></span></p>
    </div>

    <!-- <div *ngIf="hasError" class="error-container">
      <p>No se han podido cargar los datos</p>
      <ion-button (click)="cargarVideoJuegos()">Reintentar</ion-button>
    </div> -->

    <div *ngIf="!isLoading && !hasError && filteredJuegos.length === 0" class="no-data-container">
      <p>No se han encontrado datos ⚠</p>
      <ion-button (click)="cargarVideoJuegos()">Reintentar</ion-button>
    </div>

    <div *ngIf="hasError">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let juego of ejemploJuegos">
            <ion-card (click)="verDetalles(juego)">
              <img [src]="cambiarUrlImagen(juego.fotos[0])" alt="{{ juego.nombre }}">
              <ion-card-header>
                <ion-card-title>{{ juego.nombre }}</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    
    <ion-grid *ngIf="!isLoading && !hasError && filteredJuegos.length > 0">
      <ion-row>
        <ion-col size="6" *ngFor="let juego of filteredJuegos">
          <ion-card (click)="verDetalles(juego)">
            <img [src]="cambiarUrlImagen(juego.fotos[0])" alt="{{ juego.nombre }}">
            <ion-card-header>
              <ion-card-title>{{ juego.nombre }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Mostrar detalles del juego seleccionado -->
  <div *ngIf="selectedJuego" class="selected-juego-container">
    <ion-card>
      <img [src]="cambiarUrlImagen(selectedJuego.fotos[0])" alt="{{ selectedJuego.nombre }}">
      <ion-card-header>
        <ion-card-title>{{ selectedJuego.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ selectedJuego.descripcion }}</p>
        <p>{{ selectedJuego.precio }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Botón para volver atrás y mostrar la lista de juegos -->
    <ion-button (click)="cerrarDetalles()" class="circular-button" shape="round" size="small">
      <span class="material-icons">arrow_back_ios</span>
    </ion-button>
    
    <!-- Botones para comprar y alquilar -->
    <div class="button-group">
      <ion-button (click)="comprarJuego(selectedJuego)" class="" shape="round" size="small">
        Comprar
      </ion-button>
      <ion-button (click)="alquilarJuego(selectedJuego)" class="" shape="round" size="small">
        Alquilar
      </ion-button>
    </div>
  </div>
  
</ion-content>
